.step {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 585px;
  width: 700px;
}

.step__one {
  margin: 8px 0 50px 0;
}

.step__two {
  justify-content: space-between;
}

.step__three {
  justify-content: center;
  margin: 8px 0 50px 0;
}