.pattern-select {
  display: flex;
  flex-direction: column;
}

.pattern-select__label {
  margin-bottom: 10px;
}

.pattern-select__selection {
  -webkit-appearance: none;
  padding-left: 15px;
  height: 40px;
  width: 170px;
  font-size: 15px;
  color: white;
  background-color: black;
}