.builder-switch {
  display: flex;
  justify-content: center;
  margin: 0 0 20px 0;
  height: 43px;
}

.builder-switch__option {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 3px gray;
  border-radius: 5px;
  margin: 8px;
  width: 80px;
  height: 40px;

  border: solid 2px black;
  padding: 0 10px;
}

.builder-switch__option--not-selected {
  background-color: black;
  color: white;
  margin: 5px 8px 11px 6px;
}

.builder-switch__option--selected {
  box-shadow: inset 2px 3px gray;
}