.builder-switch {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  height: 40px;
}

.builder-switch__option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 40px;
  margin: 0 2px;
  border: solid 2px black;
  padding: 0 10px;
  background-color: gray;
}

.builder-switch__option--not-selected {
  box-shadow: 2px 3px gray;
  height: 37px;
}

.builder-switch__option--selected {
  box-shadow: inset 2px 3px gray;
  background-color: white;
}