.control-block {
  display: flex;
  margin: 0 20px;
  padding: 10px 0;
  height: 480px;
  border: solid 2px black;
  justify-content: space-evenly;
  flex-flow: column nowrap;
  align-items: center;
}

.control-block__item {
  display: flex;
  margin: 0 15px;
}