.play-button {
  height: 40px;
  width: 170px;
  font-size: 24px;
  border-radius: 5px;
}

.play-button--stopped {
  color: black;
  background-color: white;
}

.play-button--playing {
  color: white;
  background-color: black;
}