.mode-switch {
  position: fixed;
  bottom: 20px;
  left: 50px;
  background-color: white;
  border-radius: 5px;
  border: 2px solid black;
}

.mode-switch__option {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 3px gray;
  border-radius: 5px;
  margin: 15px 19px;
  width: 60px;
  height: 30px;
  border: solid 2px black;
  padding: 0 10px;
}

.mode-switch__header {
  display: block;
  margin: 15px;
}

.mode-switch__option--not-selected {
  background-color: black;
  color: white;
  margin: 15px 8px 15px 17px;
}

.mode-switch__option--selected {
  box-shadow: inset 2px 3px gray;
}