.builder-top-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  margin: 5px 0 15px 0;
  height: 43px;
}

.builder-top-controls__button {
  display: flex;
  justify-content: center;
  border: 2px solid black;
  border-radius: 5px;
  margin: 0 22px;
  padding: 8px;
}

.builder-top-controls__button:hover {
  color: white;
  border: 2px solid black;
  background-color: black;
  font-weight: bold;
}
