.speed-choice {
  border: 2px solid black;
  box-shadow: 2px 3px gray;
  border-radius: 5px;
  margin: 8px;
  width: 38%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.speed-choice__text {
  padding: 3px 0 0 2px;
}

.speed-choice--selected {
  box-shadow: inset 2px 3px gray;
}

.speed-choice--not-selected {
  background-color: black;
  color: white;
  margin: 5px 10px 11px 6px;
}